* {
    padding: 0;
    /* margin: 0; */
    box-sizing: border-box;
}

body {
    background: #a2d5f2;
}

.navbar {
    font-family: 'Dosis', sans-serif;
    background-color: #FAFAFA;
    border-top: 20px solid #FF7E67;
    width: 100%;
    box-shadow: 0px 10px 30px 5px rgba(7,79,159,0.2);
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar-brand {
    font-family: 'Londrina Shadow', cursive;
    padding-top: 1rem;
    
}

.navbar a.navbar-brand {
    float: left;
    /* height: inherit; */
    /* padding: auto 30px; */
    /* margin: auto auto; */
    font-size: 50px;
    letter-spacing: 2px;
}

.navbar a {
    text-decoration: none;
    color: #07689F;
}

.navbar ul {
    float: right;
    list-style: none;
    height: inherit; 
    line-height: inherit;
    padding: 0 1em;
}

.navbar ul button, .navbar ul p {
    display: inline-block;
    /* text-align: center; */
    margin: auto 30px;
    font-size: 18px;
    /* vertical-align: bottom; */
    /* height: 100%; */
}

.navbar ul p {
    padding: 2px;
}

.reset {
    font-family: inherit;
    border: 3px solid #07689F;
    border-radius: 8px;
    height: auto;
    transition-duration: 0.2s;
    padding: 1em;
}

.reset:hover {
    background-color: #07689F;
    color: #FAFAFA;
}

.reset:active {
    transform: scale(.97);
}

.memory-section {
    /* GOOD */
    display: flex;
    height: 60vh;
    margin-top: 120px;
}

.memory-game {
    /* GOOD */
    width: 900px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    /* perspective: 1000px; */
}

.memory-card {
    display: flex;
    width: 18%;
    height: 20%;
    position: relative;
    margin: auto;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    /* border: 2px solid blue; */
}

.memory-card:hover {
    /* GOOD */
    transform: scale(.97);
    transition: transform.2s
}

.memory-card.flip {
    /* GOOD */
    transform: rotateY(180deg);
}

.front-face, .back-face{
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}

.front-face {
    /* dog.png; */
    max-height: 100%;
    width: 100%;
    margin: auto;
    background-color: white;
    padding: 20% 30%;
    box-shadow: 0px 10px 10px 5px rgba(7,79,159,0.2);
    
}

.back-face {
    /* GOOD */
    /* dog photos */
    width: 100%;
    max-height: 100%;
    align-items: center;
    transform: rotateY(180deg);
}